<app-header></app-header>

<title> Diseño de Modas</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<style>
    .bg-custom-blue {
        background-color: #005CB9;
    }

    .text-custom-blue {
        color: #005CB9;
    }

    .bg-custom-orange {
        background-color: #FF5100;
    }

    .text-custom-orange {
        color: #FF5100;
    }
</style>

<body class="bg-gray-100">
    <div class="container mx-auto py-8 px-4">
        <h1 class="text-4xl font-bold text-center text-custom-blue mb-8">Diseño de Modas</h1>
        

        <main class="container mx-auto my-8">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    
                <!-- Pantalón 1 -->
                <div class="bg-white p-4 rounded shadow-md flex">
                    <img src="https://www.eluniverso.com/resizer/Wrh83-jSprT0tXsMyvJd8wjbquo=/730x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/ZQCTNYOAILMXOH6RANHCJ3OEGE.jpg" alt="Pantalón 1" class="w-48 h-auto rounded">
                    <div class="ml-4 flex flex-col justify-between">
                        <div>
                            <h2 class="text-2xl font-bold text-custom">Vestido Elegante</h2>
                            <p class="text-gray-600">Vestido de quinceaños .</p>
                            <p class="text-gray-800 font-semibold">Precio: $499.99</p>
                            <p class="text-gray-800">Colores disponibles: Azul, Negro, Rosado</p>
                            <ul class="text-gray-800 list-disc list-inside">
                                <li>Material: Algodón</li>
                                <li>Tallas: XS, S, M, L</li>
                            </ul>
                            <a href="" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Comprar</a>
                        </div>
                    </div>
                </div>
    
                <!-- Pantalón 2 -->
                <div class="bg-white p-4 rounded shadow-md flex">
                    <img src="https://www.eluniverso.com/resizer/LFeXuHtxCyZrRp0zkXvswnxh7DU=/447x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/5KCIDF6YJGB53VGBP3B236QKWI.jpg" alt="Pantalón 2" class="w-48 h-auto rounded">
                    <div class="ml-4 flex flex-col justify-between">
                        <div>
                            <h2 class="text-2xl font-bold text-custom">Vestido Corto</h2>
                            <p class="text-gray-600">Vestido de Gala .</p>
                            <p class="text-gray-800 font-semibold">Precio: $399.99</p>
                            <p class="text-gray-800">Colores disponibles: Azul, Negro, Rosado</p>
                            <ul class="text-gray-800 list-disc list-inside">
                                <li>Material: Algodón</li>
                                <li>Tallas: XS, S, M, L</li>
                            </ul>
                            <a href="" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Comprar</a>
                        </div>
                    </div>
                </div>
    
                <!-- Pantalón 3 -->
                <div class="bg-white p-4 rounded shadow-md flex">
                    <img src="https://www.ecuavisa.com/binrepository/825x1238/0c202/825d495/none/11705/BDHM/moda-4_595597_20220906082215.jpg" alt="Pantalón 3" class="w-48 h-auto rounded">
                    <div class="ml-4 flex flex-col justify-between">
                        <div>
                            <h2 class="text-2xl font-bold text-custom">Vestido</h2>
                            <p class="text-gray-600">Pantalón cargo con múltiples bolsillos.</p>
                            <p class="text-gray-800 font-semibold">Precio: $29.99</p>
                            <p class="text-gray-800">Colores disponibles: Verde, Caqui</p>
                            <ul class="text-gray-800 list-disc list-inside">
                                <li>Material: Algodón y poliéster</li>
                                <li>Tallas: 5 años - 12 años</li>
                            </ul>
                            <a href="" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Comprar</a>
                        </div>
                    </div>
                </div>
                <!-- Pantalón 4 -->
    <div class="bg-white p-4 rounded shadow-md flex">
        <img src="https://www.eldiario.ec/wp-content/uploads/2022/09/64d20430b93e9f2004dbff5efee3ad92f49e6d37w-768x506.jpg" alt="Pantalón 4" class="w-48 h-auto rounded">
        <div class="ml-4 flex flex-col justify-between">
            <div>
                <h2 class="text-2xl font-bold text-custom">Vestido</h2>
                <p class="text-gray-600">Pantalón clásico de gabardina para niños.</p>
                <p class="text-gray-800 font-semibold">Precio: $32.99</p>
                <p class="text-gray-800">Colores disponibles: Negro, Beige</p>
                <ul class="text-gray-800 list-disc list-inside">
                    <li>Material: Algodón</li>
                    <li>Tallas: 6 años - 14 años</li>
                </ul>
                <a href="" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Comprar</a>
            </div>
        </div>
    </div>
    
    <!-- Pantalón 5 -->
    <div class="bg-white p-4 rounded shadow-md flex">
        <img src="https://www.eldiario.ec/wp-content/uploads/2022/09/a04b9a556bff4065ab8534c22c99568f9759167ew-1024x683.jpg" alt="Pantalón 5" class="w-48 h-auto rounded">
        <div class="ml-4 flex flex-col justify-between">
            <div>
                <h2 class="text-2xl font-bold text-custom">Vestido</h2>
                <p class="text-gray-600">Pantalón estilo jogger con cintura elástica.</p>
                <p class="text-gray-800 font-semibold">Precio: $27.99</p>
                <p class="text-gray-800">Colores disponibles: Gris, Azul Marino</p>
                <ul class="text-gray-800 list-disc list-inside">
                    <li>Material: Algodón y poliéster</li>
                    <li>Tallas: 4 años - 10 años</li>
                </ul>
                <a href="" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Comprar</a>
            </div>
        </div>
    </div>
    
    <!-- Pantalón 6 -->
    <div class="bg-white p-4 rounded shadow-md flex">
        <img src="https://imagenes.expreso.ec/files/image_348_220/uploads/2022/05/12/627d36ab3cd20.jpeg" alt="Pantalón 6" class="w-48 h-auto rounded">
        <div class="ml-4 flex flex-col justify-between">
            <div>
                <h2 class="text-2xl font-bold text-custom">Vestido</h2>
                <p class="text-gray-600">Pantalón cargo con múltiples bolsillos y cintura ajustable.</p>
                <p class="text-gray-800 font-semibold">Precio: $34.99</p>
                <p class="text-gray-800">Colores disponibles: Caqui, Verde Militar</p>
                <ul class="text-gray-800 list-disc list-inside">
                    <li>Material: Algodón</li>
                    <li>Tallas: 5 años - 12 años</li>
                </ul>
                <a href="" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Comprar</a>
            </div>
        </div>
    </div>
    
            </div>
        </main>

        
