<app-header></app-header>

<title> Desarrollo de Software</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<style>
    .bg-custom-blue {
        background-color: #005CB9;
    }

    .text-custom-blue {
        color: #005CB9;
    }

    .bg-custom-orange {
        background-color: #FF5100;
    }

    .text-custom-orange {
        color: #FF5100;
    }
</style>

<body class="bg-gray-100">
    <div class="container mx-auto py-8 px-4">
        <h1 class="text-4xl font-bold text-center text-custom-blue mb-8">Desarrollo de Sofware</h1>
        

        <main class="container mx-auto my-8">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <!-- Producto 1: Software de Gestión de Proyectos -->
                    <div class="bg-white p-4 rounded-lg shadow-md flex">
                        <img src="https://d598hd2wips7r.cloudfront.net/magefan_blog/C_mo_elegir_el_mejor_software_de_gesti_n_de_proyectos.jpg" alt="Software de Gestión de Proyectos"
                            class="w-48 h-auto rounded">
                        <div class="ml-4 flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl font-bold text-custom">Software de Gestión de Proyectos</h2>
                                <p class="text-gray-600">Herramienta completa para la planificación y seguimiento de
                                    proyectos.</p>
                                <p class="text-gray-800 font-semibold">Precio: $199.99</p>
                                <ul class="text-gray-800 list-disc list-inside">
                                    <li>Funcionalidades: Gestión de tareas, calendario, reportes.</li>
                                    <li>Compatibilidad: Windows, macOS, Web.</li>
                                    <li>Soporte: 24/7.</li>
                                </ul>
                                <a href="#" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Vendedor</a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Producto 2: Librería de Componentes UI -->
                    <div class="bg-white p-4 rounded-lg shadow-md flex">
                        <img src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/30/posts/28550/image/Simple-Flat-UI-Kit-1.0.png" alt="Librería de Componentes UI" class="w-48 h-auto rounded">
                        <div class="ml-4 flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl font-bold text-custom">Librería de Componentes UI</h2>
                                <p class="text-gray-600">Colección de componentes reutilizables para interfaces de usuario.</p>
                                <p class="text-gray-800 font-semibold">Precio: $79.99</p>
                                <ul class="text-gray-800 list-disc list-inside">
                                    <li>Tecnologías: React, Vue, Angular.</li>
                                    <li>Estilos: Modernos y personalizables.</li>
                                    <li>Licencia: Comercial.</li>
                                </ul>
                                <a href="#" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Vendedor</a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white p-4 rounded-lg shadow-md flex">
                        <img src="https://www.buk.cl/hubfs/1PE_Sistema%20de%20Gesti%C3%B3n%20de%20Recursos%20Humanos-1.webp" alt="Software de Gestión de Recursos Humanos"
                            class="w-48 h-auto rounded">
                        <div class="ml-4 flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl font-bold text-custom">Software de Gestión de Recursos Humanos</h2>
                                <p class="text-gray-600">Solución integral para la gestión del talento y administración de
                                    recursos humanos.</p>
                                <p class="text-gray-800 font-semibold">Precio: $299.99</p>
                                <ul class="text-gray-800 list-disc list-inside">
                                    <li>Módulos: Nómina, reclutamiento, evaluación de desempeño.</li>
                                    <li>Plataformas: Web, móvil.</li>
                                    <li>Soporte: Capacitación y asistencia técnica.</li>
                                </ul>
                                <a href="#" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Vendedor</a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Producto 5: Herramienta de Análisis de Datos -->
                    <div class="bg-white p-4 rounded-lg shadow-md flex">
                        <img src="https://www.webmark.cl/site22/wp-content/uploads/2022/03/analisis-de-datos.jpg" alt="Herramienta de Análisis de Datos" class="w-48 h-auto rounded">
                        <div class="ml-4 flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl font-bold text-custom">Herramienta de Análisis de Datos</h2>
                                <p class="text-gray-600">Plataforma avanzada para el análisis y visualización de datos.</p>
                                <p class="text-gray-800 font-semibold">Precio: $499.99</p>
                                <ul class="text-gray-800 list-disc list-inside">
                                    <li>Funciones: Minería de datos, BI, integración con APIs.</li>
                                    <li>Compatibilidad: Multiplataforma.</li>
                                    <li>Soporte: Consultoría especializada.</li>
                                </ul>
                                <a href="#" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Vendedor</a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Producto 6: Software de Seguridad Informática -->
                    <div class="bg-white p-4 rounded-lg shadow-md flex">
                        <img src="https://www.softwaredoit.es/images/final-software-seguridad-2023_05_04_11_57_56.jpg" alt="Software de Seguridad Informática" class="w-48 h-auto rounded">
                        <div class="ml-4 flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl font-bold text-custom">Software de Seguridad Informática</h2>
                                <p class="text-gray-600">Solución robusta para proteger redes y sistemas contra amenazas.</p>
                                <p class="text-gray-800 font-semibold">Precio: $799.99</p>
                                <ul class="text-gray-800 list-disc list-inside">
                                    <li>Características: Firewall, antivirus, detección de intrusos.</li>
                                    <li>Implementación: Local y en la nube.</li>
                                    <li>Soporte: Monitoreo y actualizaciones constantes.</li>
                                </ul>
                                <a href="#" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Vendedor</a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Producto 3: Plataforma de E-learning -->
                    <div class="bg-white p-4 rounded-lg shadow-md flex">
                        <img src="https://www.lucaedu.com/wp-content/uploads/2021/11/mejores-plataformas-de-elearning.jpg" alt="Plataforma de E-learning" class="w-48 h-auto rounded">
                        <div class="ml-4 flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl font-bold text-custom">Plataforma de E-learning</h2>
                                <p class="text-gray-600">Sistema completo para la creación y gestión de cursos en línea.</p>
                                <p class="text-gray-800 font-semibold">Precio: $499.99</p>
                                <ul class="text-gray-800 list-disc list-inside">
                                    <li>Características: Gestión de alumnos, evaluaciones, certificados.</li>
                                    <li>Integración: SCORM, LMS.</li>
                                    <li>Soporte: Implementación inicial y mantenimiento.</li>
                                </ul>
                                <a href="#" class="bg-custom-orange text-white py-2 px-4 rounded mt-4 inline-block">Vendedor</a>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
                    