<header class="bg-custom-blue p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://yavirac.edu.ec/img/Logo%20Yavirac%20en%20negativo.png" class="h-12 w-25"
                 alt="Flowbite Logo"/>
        </a>

        <div class="space-x-4 md:space-x-8 flex-grow text-center"> <!-- Ajustado el espacio entre elementos -->
            <a href="#" class="text-white text-lg">Home</a>
            <a href="../arte-culinario" class="text-white">Arte Culinario</a>
            <a href="../control-incendios" class="text-white">Control de Incendios</a>
            <a href="../desarrollo-sf" class="text-white">Desarrollo de Software</a>
            <a href="../guia-nacional" class="text-white">Guia Nacional de Turismo</a>
            <a href="../marketing" class="text-white">Marketing</a>
            <a href="../modas" class="text-white">Diseño de Modas</a>
        </div>
    </div>
</header>
