.bg-custom-orange {
    background-color: #FF5100;
  }
  
  .text-white {
    color: white;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .rounded-l-lg {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  .rounded-r-lg {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  
  .border {
    border-width: 1px;
  }
  
  .border-gray-300 {
    border-color: #D1D5DB;
  }
  